@font-face {
    font-family: Bangers;
    src: url('../Fonts/Bangers-Regular.ttf');
}

.btnColor{
    background-color: #80A1C1 !important;
    border: none;
    color: black;
    font-family: Bangers;
    height: 45px;
}

.btnColor:hover{
    background-color: #525f3c !important;
}

.btnColor2{
    background-color: rgb(149, 29, 29) !important;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: Bangers;
}

.modalBackground{
    background-image: url('../../Assets/Sephiroth.avif') !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.cityBtn{
    background-color: rgb(206, 206, 206);
    border: none;
    border-radius: 5px;
}

